@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

body {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif

}

.body {
    margin: 0;
    height: 100vh;
    background-color: mediumaquamarine;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-family: 'Pacifico', cursive; 
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
button {
    box-sizing: border-box;
    width: 90px;
    height: 90px;
    padding: 20px;
    border-radius: 50%;
    border: 0;
    background-color: lightgray;
    font-size: 34px;
    transition: background-color 350ms, font-size 300ms;
}

button:hover {
    background-color:antiquewhite;

    font-size: 38px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}    

.resultContainer {
    margin-top: 25px;
    width: 400px;
    display: flex;
    justify-content: center;
    transition: all 2s;
}

.result_label {
    box-sizing: border-box;
    position: relative;
    left: 150px;
    width:80px;
    height: 35px;
    padding-top: 5px;
    text-align: center;
    background-color: coral;
    border-radius: 20% 2px;
    font-family: 'Pacifico', cursive; 
    box-shadow: 1px 2px 5px; 
    margin-right: 10px;
    transform: rotate(-12.5deg);
}

.resultText {
    position: absolute;
    align-self: center;
    width:300px;
    text-align: center;
    font-weight: 600;
    /* font-family: 'Pacifico'; */
    font-size: 24px;
}

#win {
    color: coral;
}

#counter {
    color: antiquewhite;
    text-align: center;
}

.gameover {
    font-size: xx-large;
    width: auto;
    padding: 5px 10px;
    text-shadow: 10px;
    text-align: center;
    background-color: coral;
    border-radius: 20% 2px;
    font-family: 'Pacifico', cursive; 
    box-shadow: 1px 2px 5px; 
    position: absolute;
    top: 50%;
}

.restart {
    text-align: center;
    font-size: 18px;
    color: black;
    transition: all 350ms;
    position: relative;
    left: 80%;
    top: 15%;
    opacity: 60%;
}

.restart:hover {
    opacity: 90%;
    font-size: 19px;
    transform: rotate(-12.5deg);

}
